$bodycolor: #f6f5f5;

* {
    margin: 0;
    padding: 0;
    color: #010101;
}

body {
    background-color: #f0f0f0;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.3);
    border-radius: 2.5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 2.5px rgba(0, 0, 0, .3);
    border-radius: 2.5px;
    background-color: #294E80;
    opacity: .7;
    transition: opacity ease-in-out 200ms;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}
